<h1>Si të instalojme Ubuntu ne Virtual Machine</h1>

<p>Do ju duhet:</p>
<p>
    <a href="http://www.utorrent.com/intl/en/downloads/complete/os/win/track/stable">Utorent</a>
    <br />
    <a href="http://mirror.t-home.mk/ubuntu-releases/16.04.1/ubuntu-16.04.1-desktop-amd64.iso">ISO të Ubuntut (1.4 Gb)</a>
    <br />
    <a href="magnet:?xt=urn:btih:62d09dd677919a976fc94d6832937a05793aa1de&dn=VMware+Workstation+Pro+12.1.1+Build+3770994+With+Keys+%5BSadeemPC%5D&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Fzer0day.ch%3A1337&tr=udp%3A%2F%2Fopen.demonii.com%3A1337&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Fexodus.desync.com%3A6969">VmWare(hapeni pasi ta instaloni Utorent)</a>
    <br/>
    <a href="http://www.rarlab.com/rar/wrar540.exe">WinRar</a>
</p>
<li>
    <ul>Instaloni Utorrent</ul>
    <ul>Instaloni WinRar</ul>
    <ul>Instaloni VmWare (numrin serial e gjeni tek keys.txt)</ul>
    <ul>Hapni Vmware</ul>
    <ul>Klikoni File -> New virtual Machie</ul>
    <ul>Custom dhe pastaj Next</ul>
    <ul>Next</ul>
    <ul>Zgjidh Installer disk image file (iso), kliko Browse dhe gjejeni ISO e ubuntut qe shkarkuat nga linku me larte</ul>
    <ul>Full name : emrin tuaj por pa zbrazetira psh "VetonAbdiu" </ul>
    <ul>User name: psh"veton"</ul>
    <ul>Passwordin dhe Next</ul>
    <ul>Next</ul>
    <ul>Next</ul>
    <ol>2GB Ram (2048 MB) dhe Next </ol>
    <ol> 6 here Next dhe ne fund Finish</ol>
    Prisni deri sa te instalohet Ubuntu dhe gati
    <br/>
    PËR INSTRUKSIONET TJERA DO FLASIM NE FAKULTET ;) 



</li>